<!-- Validation failure messages -->
<% if @restaurant.errors.any? %>
  <% @restaurant.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit <%= @restaurant.restaurant_name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form enctype="multipart/form-data" action="/update_restaurant/<%= @restaurant.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for restaurant_name -->
      <div class="form-group">
        <label for="restaurant_name" class="control-label">
          Restaurant name
        </label>

        <input type="text" id="restaurant_name" name="restaurant_name" placeholder="Restaurant name" class="form-control" value="<%= @restaurant.restaurant_name %>">
      </div>



      <!-- Label and input for logo -->
      <div class="form-group">
        <label for="logo" class="control-label">
          Logo
        </label>

        <input type="file" id="logo" name="logo" placeholder="Logo" class="form-control" value="<%= @restaurant.logo %>">

      </div>

      <!-- Label and input for sponsor_name -->
      <div class="form-group">
        <label for="sponsor_name" class="control-label">
          Sponsor name
        </label>

      <!-- Label and input for email_address -->
      <div class="form-group">
        <label for="email_address" class="control-label">
          Email address
        </label>

        <input type="text" id="email_address" name="email_address" placeholder="Email address" class="form-control" value="<%= @restaurant.email_address %>">
      </div>

      <!-- Label and input for phone_number -->
      <div class="form-group">
        <label for="phone_number" class="control-label">
          Phone number
        </label>

        <input type="text" id="phone_number" name="phone_number" placeholder="Phone number" class="form-control" value="<%= @restaurant.phone_number %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @restaurant.address %>">
      </div>


        <input type="text" id="sponsor_name" name="sponsor_name" placeholder="Sponsor name" class="form-control" value="<%= @restaurant.sponsor_name %>">
      </div>


      <button class="btn btn-warning">
        Update Restaurant
      </button>
      or
      <a href="/restaurants/<%= @restaurant.id %>">Cancel</a>
    </form>
  </div>
</div>
